* {
    margin: 0;
    padding: 0;
  }
.general {
    overflow-x: hidden;
    font-family: 'PT Sans Narrow', sans-serif;
    font-family: 'Rubik', sans-serif;
  }
a:link {
    text-decoration: none;
    color: black;
}
a:visited {
    text-decoration: none;
    color: black;
}

.menu {
    display: grid;
    grid-template-areas: "logo menuLista carrito";
    border-bottom: 3px solid black;
    height: 70px;
    padding-right: 20px;
    padding-left: 15px;
    padding-top: 5px;
    .checkboton {
        font-size: 30px;
        color: black;
        float: right;
        line-height: 20px;
        margin-right: 10px;
        cursor: pointer;
        display: none;
    }
    #check {
        display: none;
    }
    .logo {
        display:flex;
        justify-content: flex-start;
        height: 20px;
        width: 20px;
    }
    .menuLista {
        display: flex;
        list-style-type: none;
        z-index: 2;
        justify-content: center;
        gap: 70px;
        padding-top: 5px;
        .enlaces {
            cursor:pointer;
            text-transform: uppercase;
            letter-spacing: 0.1rem;
            font-size: 0.73rem;
            position:relative;
            padding:0.7rem 1.2rem;
            background:white;
            border-top-right-radius:0.7rem;
            border-bottom-left-radius:0.7rem;
            transition:all 1s;
                    &:after,&:before{
                        content:" ";
                        width:0.7rem;
                        height:0.7rem;
                        position:absolute;
                        border :0px solid #fff;
                        transition:all 1s;
                        }
                    &:after{
                        top:-1px;
                        left:-1px;
                        border-top:3px solid black;
                        border-left:3px solid black;
                    }
                    &:before{
                        bottom:-1px;
                        right:-1px;
                        border-bottom:3px solid black;
                        border-right:3px solid black;
                    }
                    &:hover{
                        border-top-right-radius:0px;
                    border-bottom-left-radius:0px;
                        // background:rgba(0,0,0,.5);
                        // color:white;
                        &:before,&:after{
                            
                            width:100%;
                            height:100%;
                            // border-color:white;
                        }
                    }
                
                
        }
        .enlaces:hover {
            transform: scale(1.2);
            transition:all .2s ease-in-out;
            
        }
        .active {
            cursor:pointer;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            font-size: 10px;
            position:relative;
            padding:10px 20px;
            background:white;
            border-top-right-radius:10px;
            border-bottom-left-radius:10px;
            transition:all 1s;
                        &:after,&:before{
                            content:" ";
                            width:10px;
                            height:10px;
                            position:absolute;
                            border :0px solid #fff;
                            transition:all 1s;
                            }
                        &:after{
                            top:-1px;
                            left:-1px;
                            border-top:5px solid black;
                            border-left:5px solid black;
                        }
                        &:before{
                            bottom:-1px;
                            right:-1px;
                            border-bottom:5px solid black;
                            border-right:5px solid black;
                        }
                        &:hover{
                            border-top-right-radius:0px;
                        border-bottom-left-radius:0px;
                            // background:rgba(0,0,0,.5);
                            // color:white;
                            &:before,&:after{
                                
                                width:100%;
                                height:100%;
                                // border-color:white;
                            }
                        }    
        }

        }
    .carrito {
        padding-top: 0.7rem;
        display: flex;
        justify-content: flex-end;
        position: relative;
        .checkbtn {
            color: black;
            line-height: 20px;
            margin-right: 10px;
            cursor: pointer;
            
        }
        #checked {
            display: none;
        }
        .submenu {
            position: fixed;
            margin-top: 50px;
            background-color: white;
            transition: all .5s;
            right: -110%;
            z-index: 2;
            border-top-right-radius:10px;
            border-bottom-left-radius:10px;
            border-top:5px solid black;
            border-bottom:5px solid black;
            border-right:5px solid black;
            border-left: 5px solid black;
            transition:all 0.3s;

            
            
            

        }
        #checked:checked ~ .submenu {
            display: block;
            position:fixed;
            right: 0;
            z-index: 2;
            max-height: 310px;
            overflow-y: scroll auto;
            overflow-x: hidden;
            padding-right: 40px;
            text-align: center;
            transition:all 1s;
            margin-right: 0.2rem;
        }
    }
   
    }


.carro {
    display:flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

#cards {
    margin-top: 5rem;
}

.card {
    margin-left: 8rem;
    margin-bottom: 3rem;
    padding-bottom: 1rem;
    margin-top: 10rem;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0,0, 0.2);

    .card:hover{
        transform: translateY(-15px);
        box-shadow: 0 12px 16px rgba(0,0,0,0);
    }
    #add {
        margin-left: 4.3rem;
        margin-top: 1rem;
        margin-bottom: 0;

    }
    #price {
    text-align: center;
        
      }
    h2 {
        font-size: 2.2rem;
        padding-top: 3rem;
        text-align: center;
      }
      h3 {
        text-align: center;
        font-size: 1.5rem;
      }
    #card-text {
        text-align: justify;
      }
    
}
.simbolo {
    text-align: center;
    padding-top: 0.5rem;
    }
.table {
    margin-left: 1rem;
}



@media screen and (min-width: 480px) and (max-width: 780px){
    /*inicio de scss de menu */
    .menu {
        display: grid;
        grid-template-areas: "logo ckeckboton carrito";
        grid-template-columns: 2fr 1fr 2fr;
        grid-template-rows: 0.5fr 0.1fr 0.5fr;
        grid-column-gap: 1rem;
        height: 70px;
        padding-right: 20px;
        padding-left: 15px;
        padding-top: 5px;
        .checkboton {
            grid-area: ckeckboton;
            display: flex;
            justify-content: center;
            padding-top: 20px;
           
        }
        #check:checked ~ .menuLista{
            left:0;
        }
        .logo {
            grid-area: logo;
            display: flex;
            justify-content: flex-start;
            height: 10px;
            width: 10px;
            
            
        }
        .menuLista {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            position: fixed;
            width:  100%;
            height: 100vh;
            background-color: white;
            top: 77px;
            left: -100%;
            text-align: center;
            transition: all .5s;
            nav ul li {
                margin: 50px 0;
                line-height: 30px;
                nav ul li a {
                    font-size: 30px
                }
            }
            .enlaces {
                cursor:pointer;
                text-transform: uppercase;
                letter-spacing: 0.1em;
                font-size: 0.8rem;
                position:relative;
                padding:0.7rem 1.2rem;
                background:white;
                border-top-right-radius:0.7rem;
                border-bottom-left-radius:0.7rem;
                transition:all 1s;
                        &:after,&:before{
                            content:" ";
                            width:0.7rem;
                            height:0.7rem;
                            position:absolute;
                            border :0px solid #fff;
                            transition:all 1s;
                            }
                        &:after{
                            top:-1px;
                            left:-1px;
                            border-top:3px solid black;
                            border-left:3px solid black;
                        }
                        &:before{
                            bottom:-1px;
                            right:-1px;
                            border-bottom:3px solid black;
                            border-right:3px solid black;
                        }
                        &:hover{
                            border-top-right-radius:0px;
                        border-bottom-left-radius:0px;
                            // background:rgba(0,0,0,.5);
                            // color:white;
                            &:before,&:after{
                                
                                width:100%;
                                height:100%;
                                // border-color:white;
                            }
                        }
                    
                    
            }
        }

        .carrito{
            .checkbtn{
                display: flex;
                justify-content: center;
            }
        }
        }
        
        }
        @media screen and (max-width: 480px) {
        .menu {
            display: grid;
            grid-template-areas: "logo ckeckboton carrito";
            grid-template-columns: 2fr 1fr 2fr;
            grid-template-rows: 0.5fr 0.1fr 0.5fr;
            grid-column-gap: 1rem;
            height: 70px;
            padding-right: 20px;
            padding-left: 15px;
            padding-top: 5px;
            .checkboton {
                grid-area: ckeckboton;
                display: flex;
                justify-content: center;
                padding-top: 20px;
               
            }
            #check:checked ~ .menuLista{
                left:0;
            }
            .logo {
                grid-area: logo;
                display: flex;
                justify-content: flex-start;
                
                
            }
            .menuLista {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                position: fixed;
                width:  100%;
                height: 100vh;
                background-color: white;
                top: 77px;
                left: -100%;
                text-align: center;
                transition: all .5s;
                nav ul li {
                    margin: 50px 0;
                    line-height: 30px;
                    nav ul li a {
                        font-size: 30px
                    }
                }
                .carrito{
                    .checkbtn{
                        display: flex;
                        justify-content: center;
                    }
                }
                    
    
            }
            }
            footer {
                color: white;
                overflow: hidden;
                background-color: black;
                list-style: none;
                text-align: justify;
            
            }
            
        .footer0 {
                color: white;
                display: flex;
                justify-content: center;
                overflow: hidden;
                background-color: black;
                text-align: justify;
                grid-area: footer;
            
            }
            
        .footerGrid {
                display: grid;
                grid-gap: 1rem;
                grid-template-columns: 5rem 5rem 5rem;
                grid-template-areas: "footerTitulo footerTitulo1 footerTitulo2";
                gap: 2rem;
                .footerTitulo {
                    padding: 1rem;
                    grid-area: footerTitulo;
                    text-align: start;
                    font-size: .6rem;
                    text-transform: uppercase;
                    nav {
                        ul {
                            list-style: none;
                        }
                    }
                }
            .footerTitulo1 {
                    padding: 1rem;
                    grid-area: footerTitulo1;
                    text-align: center;
                    font-size: .6rem;
                    text-transform: uppercase;
                }
            
            .footerTitulo2 {
                padding: 1rem;
                grid-area: footerTitulo2;
                text-align: end;
                font-size: .6rem;
                text-transform: uppercase;
                text-decoration: none;
                }
            
            }     
            }